doctype html
html
    head
        title Student Details
        style.
            .book {
                padding: 10px;
                text-decoration: none;
                color: white;
                background-color: rgb(20, 143, 245);
                border: 2px solid;
                border-radius: 15px;
                transition-duration: .5s;
            }
    body
        h1 THEATRE IS #{movies.Theatre}
        img(src=file, height='200', width='150')
        table(border='1')
            tr 
                th MOVIES 
                td=movies.Movie1 
                td=movies.Movie2 
                td=movies.Movie3
            tr 
                th TIMINGS 
                td a(href="book.html" class='book') 11:30
                td a(href="book.html" class='book') 1:30
                td a(href="book.html" class='book') 3:30
